* {
    box-sizing: border-box;
}

/*_-_-_-_-_-_-_-_-_-_-_-_WIDTH & HEIGTH _-_-_-_-_-_-_-_-_-_-_*/

.h100 {
    height: 100vh;
}
.h-100 {
    height: 100%;
}

.w100 {
    width: 100%;
}
.w90{
    width: 100%;
}
.w20px{
    width: 20px;
}
.w250px{
    width: 15.6rem;
}
@media(min-width:768px){
    .w90{
        width: 90%;
    }   
}
/*_-_-_-_-_-_-_-_-_-_-_-_-_ FONDOS -_-_-_-_-_-_-_-_-_-_-_-_*/

.bg-img {
    background-image: url("../img/bg/portada_login.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.bg-pri{
    background-color: #07282C;
}
.bg-trasparent{
    background-color: transparent;
}

.bg-sec{
    background-color: #3FDDF0;
}

.bg-gassdoor {
    background-color: #ffffff38;
    box-shadow: 3px 1px 17px #000
}

.bg-gassdoor-fill {
    filter: blur(2px);
}

.bg-green-trans{
    background-color: #07282cb5;
}
/*_-_-_-_-_-_-_-_-_-_-_-_-_ Paddings-_-_-_-_-_-_-_-_-_-_-_-_*/
.ps-50px{
    padding-left: 50px;
}
.px-50{
    padding: 0 50px;
}
/*_-_-_-_-_-_-_-_-_-_-_-_-_ Bordes-_-_-_-_-_-_-_-_-_-_-_-_*/

@media(min-width:768px)
{
    .border-ti{
        border-left: solid 4px #3FDDF0;
    }   
}
/*_-_-_-_-_-_-_-_-_-_-_-_-_ Fuentes-_-_-_-_-_-_-_-_-_-_-_-_*/

.text-shadow-logo {
    text-shadow: 2px 4px 1px #3FDDF0;
    font-size: 5rem;
}
.text-shadow{
    text-shadow: 4px 4px 4px #000;
}

.error-404{
    font-size: 10rem;
    text-shadow: 4px 4px 4px #000;
    font-weight: 600;
}
.error{
    font-size: 7rem;
    text-shadow: 4px 4px 4px #000;
    font-weight: 600;
}
.p-error{
    font-size: 1.5rem;
    font-weight: 600;
}

@media(max-width:786px){
    .error-404{
        font-size: 3rem;
        font-weight: 600;
    }
    .error{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .p-error{
        font-size: 1rem;
        font-weight: 6 00;
    }
}

/*_-_-_-_-_-_-_-_-_-_-_-_-_ Sections-_-_-_-_-_-_-_-_-_-_-_-_*/

.service:hover{
    background: linear-gradient(0deg, rgba(49,120,129,1) 0%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%);
}
.footer{
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 83%;
    text-shadow: 4px 4px 4px #000;
}

